/*** COMMON ****/
#mainContent { margin: 0 auto; width: 90%}
h1, h2, h3, h4, h5, h6 {font-family: 'Montserrat', sans-serif; }
h1 { font-size: 2em; font-weight: 700}
h2 { font-size: 1.8em; font-weight: 700}
h3 { font-size: 1.6em; font-weight: 500}
h4 { font-size: 1.4em; font-weight: 500}
h5 { font-size: 1.2em; font-weight: 500}
h6 { font-size: 1em; font-weight: 400}

.btn-fullwidth { width: 100%}


/***** TEMPLATE ************/
nav {padding-left: 5%; padding-right: 5%}
nav a { margin-right: 30px;}
nav a:hover { color: grey}
#nav-right {width: 40%; float: right; text-align: right }
#nav-left { width: 60%; float: left }

#createPlanningButton { margin-top: 20px; float: right}

/************ CALENDAR ********/
.activeday, .notactiveday { width: 14%; float: left}
.activeday h6, .notactiveday h6 { text-align: center}
.timeSlot { padding: 2px; border: 1px solid darkblue; text-align: center; cursor: pointer}
.selected { background-color: #80cbc4}
.booked { background-color: #1e88e5}

.noSelectable { background-color: white; color: lightgrey; cursor: default;}
#modal2-informations { color: darkblue}

.clearBooking { font-size: 16px; float: right; color: #c2185b; cursor: pointer}
