/*** COMMON ****/
body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  height: 100%;
}

footer {position: absolute; bottom: 0; left: 0; right: 0; }

#mainContent {
  margin: 0 auto; width: 90%; margin-bottom: 160px
}
h1 { font-size: 2em; font-weight: 700}
h2 { font-size: 1.8em; font-weight: 700}
h3 { font-size: 1.6em; font-weight: 500}
h4 { font-size: 1.4em; font-weight: 500}
h5 { font-size: 1.2em; font-weight: 500}
h6 { font-size: 1em; font-weight: 400}
.btn-fullwidth { width: 100%}

/******** LOGIN ********/
#loginPage { width: 80%; margin: 0 auto }
#loginPage h1 { text-align: center;}

/********* NOTIFICATION EMAIL ****/
.imgEmail { max-width: 100%; height: auto;}


/*******  HOME ************/
#homepage { display: flex; flex-wrap: wrap; justify-content: space-around; margin-top: 30px}
#homepage img { text-align: center; max-width: 100%; height: auto;}
#homepage h1 { font-size: 2.8em; }
#homepage p { font-size: 1.8em; text-align: left;}

/***** TEMPLATE ************/
nav {display: flex; flex-wrap: wrap; justify-content: space-between; padding: 0 20px}
nav a { margin-right: 10px;}
nav a:hover { color: black}

#createPlanningButton { margin-top: 20px; float: right}

/************ CALENDAR ********/
.activeday, .notactiveday { width: 14%; float: left}
.activeday h6, .notactiveday h6 { text-align: center}
.timeSlot { padding: 2px; border: 1px solid darkblue; text-align: center; cursor: pointer}
.selected { background-color: #80cbc4}
.booked { background-color: #1e88e5}

.noSelectable { background-color: white; color: lightgrey; cursor: default;}
#modal2-informations { color: darkblue}

.clearBooking { font-size: 16px; float: right; color: #c2185b; cursor: pointer}
